APP_BASE_URL=http://localhost:3000
SOURCE_CODE_URL=https://github.com/bigshit11elf/lutrafin
APP_PORT=3000
DATABASE_PATH=/data/app.db
JELLYFIN_URL=http://192.168.178.20:8096
JELLYFIN_TOKEN_FILE=/run/secrets/jellyfin_token
JELLYFIN_EXCLUDED_LIBRARY_IDS=
TMDB_API_TOKEN_FILE=/run/secrets/tmdb_api_token
TVMAZE_ENABLED=true
TVDB_ENABLED=false
SYNC_INTERVAL=6h
METADATA_REFRESH_INTERVAL=24h
LOG_LEVEL=info
ADMIN_USERNAME=admin
ADMIN_PASSWORD_FILE=/run/secrets/admin_password
